<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../css/formStyle.css" type="text/css">
</head>
<body>
<form action="/login" method="post">
    <input type="text" name="login" placeholder="Логин" required th:required="true">
    <input type="password" name="password" placeholder="Пароль" required th:required="true">
    <button type="submit">Войти</button>
    <br>
    <button onclick="window.location.href='/registration'">Зарегистрироваться</button>
</form>
</body>
</html>

