<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница продуктов</title>
</head>
<body>
<h1>Продукты категории: <span th:text="${category.name}"></span></h1>

<div class="product-cards">
    <div th:each="product : ${products}" th:if="${product.categoryname == category.name}" class="product-card">
        <h2 th:text="${product.name}"></h2>
        <p th:text="${product.description}"></p>
        <p th:text="${product.price}"></p>
    </div>
</div>
</body>
</html>