<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Statistics</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fats</th>
            <th>Carbs</th>
            <th>Переход</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${statisticsPage.content}">
            <td th:text="${stat.date}"></td>
            <td th:text="${stat.calories}"></td>
            <td th:text="${stat.protein}"></td>
            <td th:text="${stat.fats}"></td>
            <td th:text="${stat.carbs}"></td>
            <td><button th:onclick="window.location.href='statistics/' + ${stat.statisticsID}">Открыть</button></td>
        </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/statistics?page=${currentPage - 1}}">&lt; Prev</a>
        <span th:text="${currentPage}"></span>
        <a th:href="@{/statistics?page=${currentPage + 1}}">Next &gt;</a>
    </div>
</div>
</body>
</html>